

.grid-container {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            gap: 10px;
            margin-top: 20px;
        }

        .grid-item {
            width: 100px;
            height: 100px;
            background-color: transparent;
            border: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-weight: bold;
        }

        #controls {
            margin-top: 20px;
        }

#reset_button{
	border-radius:4px;
}